.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

html { 
  background: url("https://daily.jstor.org/wp-content/uploads/2017/10/speech_bubbles_me_too_1050x700.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.like {
  height: 20px;
  width: 20px;
  padding: 10px;
}

.like:hover {
  height: 25px;
  width: 25px;
  transition: all 1s;
}

.accept {
  height: 50px;
  width: 50px;
  padding: 10px;
  margin-top: 5;
}

.accept:hover {
  height: 55px;
  width: 55px;
  transition: all 1s;
}